NEXT_IMX298_LG=/product/etc/camera/configeffect/multidenoise/imx298_lg/
NEXT_IMX298_LITEON=/product/etc/camera/configeffect/multidenoise/imx298_liteon/
NEXT_IMX179_SUNNY=/product/etc/camera/configeffect/multidenoise/imx179_sunny/
NEXT_IMX179_LITEON=/product/etc/camera/configeffect/multidenoise/imx179_liteon/
EVA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/multidenoise/imx286dual/
EVA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/multidenoise/imx286dual/
EVA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/multidenoise/imx286dual/
EVA_IMX286LEGACYDUAL=/product/etc/camera/configeffect/multidenoise/imx286dual/
EVA_IMX179_SUNNY=/product/etc/camera/configeffect/multidenoise/imx179_front/
EVA_IMX179_LITEON=/product/etc/camera/configeffect/multidenoise/imx179_front/
EVA_OV8865_2L=/product/etc/camera/configeffect/multidenoise/ov8865_2l_front/
KNIGHT_IMX286DUAL_LITEON=/product/etc/camera/configeffect/multidenoise/imx286dual/
KNIGHT_IMX286DUAL_SHARP=/product/etc/camera/configeffect/multidenoise/imx286dual/
KNIGHT_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/multidenoise/imx286dual/
KNIGHT_IMX286LEGACYDUAL=/product/etc/camera/configeffect/multidenoise/imx286dual/
KNIGHT_IMX179_SUNNY=/product/etc/camera/configeffect/multidenoise/imx179_front/
KNIGHT_IMX179_LITEON=/product/etc/camera/configeffect/multidenoise/imx179_front/
KNIGHT_OV8865_2L=/product/etc/camera/configeffect/multidenoise/ov8865_2l_front/
VIENNA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/multidenoise/imx286dual/
VIENNA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/multidenoise/imx286dual/
VIENNA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/multidenoise/imx286dual/
VIENNA_OV8865_SAMSUNG=/product/etc/camera/configeffect/multidenoise/ov8865_front_vcm/
VIENNA_OV8865_OFILM=/product/etc/camera/configeffect/multidenoise/ov8865_front_vcm/
VIENNA_IMX179_FOXCONN=/product/etc/camera/configeffect/multidenoise/imx179_front_vcm/
FRD_IMX179_SUNNY=/product/etc/camera/configeffect/multidenoise/imx179_front/
FRD_IMX179_LITEON=/product/etc/camera/configeffect/multidenoise/imx179_front/
FRD_OV8865_2L=/product/etc/camera/configeffect/multidenoise/ov8865_2l_front/
FRD_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/multidenoise/imx286dual/
FRD_IMX286DUAL_LITEON=/product/etc/camera/configeffect/multidenoise/imx286dual/
FRD_IMX286DUAL_SHARP=/product/etc/camera/configeffect/multidenoise/imx286dual/
FRD_IMX286LEGACYDUAL=/product/etc/camera/configeffect/multidenoise/imx286dual/
EDISON_IMX278_LITEON=/product/etc/camera/configeffect/multidenoise/imx278_liteon/
EDISON_IMX278_SUNNY=/product/etc/camera/configeffect/multidenoise/imx278_sunny/
EDISON_OV8856_SUNNY=/product/etc/camera/configeffect/multidenoise/ov8856/
EDISON_IMX219_LITEON=/product/etc/camera/configeffect/multidenoise/imx219/
EDISON_IMX219_SUNNY=/product/etc/camera/configeffect/multidenoise/imx219/
EDISON_HI843_OFLIM=/product/etc/camera/configeffect/multidenoise/hi843/
BTV_IMX219_LITEON=/product/etc/camera/configeffect/multidenoise/imx219/
BTV_IMX219_SUNNY=/product/etc/camera/configeffect/multidenoise/imx219/
BTV_HI843_OFLIM=/product/etc/camera/configeffect/multidenoise/hi843/
BTV_OV8858_FOXCONN=/product/etc/camera/configeffect/multidenoise/ov8858_foxconn/
BTV_IMX219_LITEON_BACK=/product/etc/camera/configeffect/multidenoise/imx219_back/
BTV_IMX219_OFILM_BACK=/product/etc/camera/configeffect/multidenoise/imx219_back/
NATASHA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/multidenoise/imx286dual/
NATASHA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/multidenoise/imx286dual/
NATASHA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/multidenoise/imx286dual/
NATASHA_HI843_OFLIM=/product/etc/camera/configeffect/multidenoise/hi843/
NATASHA_IMX219_LITEON=/product/etc/camera/configeffect/multidenoise/imx219/
NATASHA_IMX219_SUNNY=/product/etc/camera/configeffect/multidenoise/imx219/

