NEXT_IMX298_LG=/product/etc/camera/configeffect/digitalzoom/NEXT_imx298_lg/
NEXT_IMX298_LITEON=/product/etc/camera/configeffect/digitalzoom/NEXT_imx298_liteon/
EVA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/digitalzoom/imx286dual/
EVA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/digitalzoom/imx286dual/
EVA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/digitalzoom/imx286dual/
EVA_IMX286LEGACYDUAL=/product/etc/camera/configeffect/digitalzoom/imx286dual/
KNIGHT_IMX286DUAL_LITEON=/product/etc/camera/configeffect/digitalzoom/imx286dual/
KNIGHT_IMX286DUAL_SHARP=/product/etc/camera/configeffect/digitalzoom/imx286dual/
KNIGHT_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/digitalzoom/imx286dual/
KNIGHT_IMX286LEGACYDUAL=/product/etc/camera/configeffect/digitalzoom/imx286dual/
VIENNA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/digitalzoom/imx286dual/
VIENNA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/digitalzoom/imx286dual/
VIENNA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/digitalzoom/imx286dual/
FRD_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/digitalzoom/imx286dual/
FRD_IMX286DUAL_LITEON=/product/etc/camera/configeffect/digitalzoom/imx286dual/
FRD_IMX286DUAL_SHARP=/product/etc/camera/configeffect/digitalzoom/imx286dual/
FRD_IMX286LEGACYDUAL=/product/etc/camera/configeffect/digitalzoom/imx286dual/
EDISON_IMX278_LITEON=/product/etc/camera/configeffect/digitalzoom/EDISON_imx278_liteon/
EDISON_IMX278_SUNNY=/product/etc/camera/configeffect/digitalzoom/EDISON_imx278_sunny/
BTV_OV8858_FOXCONN=/product/etc/camera/configeffect/digitalzoom/btv_ov8858_foxconn/
BTV_IMX219_LITEON_BACK=/product/etc/camera/configeffect/digitalzoom/btv_imx219_liteon/
BTV_IMX219_OFILM_BACK=/product/etc/camera/configeffect/digitalzoom/btv_imx219_ofilm/
NATASHA_IMX286DUAL_LITEON=/product/etc/camera/configeffect/digitalzoom/imx286dual/
NATASHA_IMX286DUAL_SHARP=/product/etc/camera/configeffect/digitalzoom/imx286dual/
NATASHA_IMX286DUAL_SUNNY=/product/etc/camera/configeffect/digitalzoom/imx286dual/
