EVA_IMX286DUAL_SUNNY=/product/etc/camera/hdflash/imx286/
EVA_IMX286DUAL_LITEON=/product/etc/camera/hdflash/imx286/
EVA_IMX286DUAL_SHARP=/product/etc/camera/hdflash/imx286/
EVA_IMX286LEGACYDUAL=/product/etc/camera/hdflash/imx286/
KNIGHT_IMX286DUAL_SUNNY=/product/etc/camera/hdflash/imx286/
KNIGHT_IMX286DUAL_LITEON=/product/etc/camera/hdflash/imx286/
KNIGHT_IMX286DUAL_SHARP=/product/etc/camera/hdflash/imx286/
KNIGHT_IMX286LEGACYDUAL=/product/etc/camera/hdflash/imx286/
VIENNA_IMX286DUAL_SUNNY=/product/etc/camera/hdflash/imx286/
VIENNA_IMX286DUAL_LITEON=/product/etc/camera/hdflash/imx286/
VIENNA_IMX286DUAL_SHARP=/product/etc/camera/hdflash/imx286/
FRD_IMX286DUAL_SUNNY=/product/etc/camera/hdflash/imx286/
FRD_IMX286DUAL_LITEON=/product/etc/camera/hdflash/imx286/
FRD_IMX286DUAL_SHARP=/product/etc/camera/hdflash/imx286/
FRD_IMX286LEGACYDUAL=/product/etc/camera/hdflash/imx286/
EDISON_IMX278_SUNNY=/product/etc/camera/hdflash/imx278/
EDISON_IMX278_LITEON=/product/etc/camera/hdflash/imx278/
KEPLER_IMX278_SUNNY=/product/etc/camera/hdflash/imx278/
KEPLER_IMX278_LITEON=/product/etc/camera/hdflash/imx278/
NATASHA_IMX286DUAL_SUNNY=/product/etc/camera/hdflash/imx286/
NATASHA_IMX286DUAL_LITEON=/product/etc/camera/hdflash/imx286/
NATASHA_IMX286DUAL_SHARP=/product/etc/camera/hdflash/imx286/
