NEXT_IMX179_LITEON=/product/etc/camera/hwldc/imx179_front_liteon/
NEXT_IMX179_SUNNY=/product/etc/camera/hwldc/imx179_front_sunny/
EVA_IMX179_LITEON=/product/etc/camera/hwldc/imx179_front_liteon/
EVA_IMX179_SUNNY=/product/etc/camera/hwldc/imx179_front_sunny/
EVA_OV8865_2L=/product/etc/camera/hwldc/ov8865_2l_front/
KNIGHT_IMX179_SUNNY=/product/etc/camera/hwldc/imx179_front_sunny/
KNIGHT_IMX179_LITEON=/product/etc/camera/hwldc/imx179_front_liteon/
KNIGHT_OV8865_2L=/product/etc/camera/hwldc/ov8865_2l_front/
FRD_IMX179_SUNNY=/product/etc/camera/hwldc/imx179_front_sunny/
FRD_IMX179_LITEON=/product/etc/camera/hwldc/imx179_front_liteon/
FRD_OV8865_2L=/product/etc/camera/hwldc/ov8865_2l_front/
EDISON_OV8856_SUNNY=/product/etc/camera/hwldc/ov8856/
EDISON_IMX219_LITEON=/product/etc/camera/hwldc/imx219/
EDISON_IMX219_SUNNY=/product/etc/camera/hwldc/imx219/
EDISON_HI843_OFLIM=/product/etc/camera/hwldc/hi843/
BTV_IMX219_LITEON=/product/etc/camera/hwldc/imx219/
BTV_IMX219_SUNNY=/product/etc/camera/hwldc/imx219/
BTV_HI843_OFLIM=/product/etc/camera/hwldc/hi843/
VIENNA_OV8865_SAMSUNG=/product/etc/camera/hwldc/ov8865_front_vcm/
VIENNA_OV8865_OFILM=/product/etc/camera/hwldc/ov8865_front_vcm/
NATASHA_IMX219_LITEON=/product/etc/camera/hwldc/imx219/
NATASHA_IMX219_SUNNY=/product/etc/camera/hwldc/imx219/
NATASHA_HI843_OFLIM=/product/etc/camera/hwldc/hi843/
