NEXT_IMX298_LG=/product/etc/camera/mmi7cm/imx298/
NEXT_IMX298_LITEON=/product/etc/camera/mmi7cm/imx298/
EVA_IMX286DUAL_SUNNY=/product/etc/camera/mmi7cm/eva_imx286dual/
EVA_IMX286DUAL_LITEON=/product/etc/camera/mmi7cm/eva_imx286dual/
EVA_IMX286DUAL_SHARP=/product/etc/camera/mmi7cm/eva_imx286dual/
EVA_IMX286LEGACYDUAL=/product/etc/camera/mmi7cm/eva_imx286dual/
KNIGHT_IMX286DUAL_SUNNY=/product/etc/camera/mmi7cm/knight_imx286dual/
KNIGHT_IMX286DUAL_LITEON=/product/etc/camera/mmi7cm/knight_imx286dual/
KNIGHT_IMX286DUAL_SHARP=/product/etc/camera/mmi7cm/knight_imx286dual/
KNIGHT_IMX286LEGACYDUAL=/product/etc/camera/mmi7cm/knight_imx286dual/
VIENNA_IMX286DUAL_SUNNY=/product/etc/camera/mmi7cm/vienna_imx286dual/
VIENNA_IMX286DUAL_LITEON=/product/etc/camera/mmi7cm/vienna_imx286dual/
VIENNA_IMX286DUAL_SHARP=/product/etc/camera/mmi7cm/vienna_imx286dual/
VIENNA_IMX286LEGACYDUAL=/product/etc/camera/mmi7cm/vienna_imx286dual/
FRD_IMX286DUAL_SUNNY=/product/etc/camera/mmi7cm/faraday_imx286dual/
FRD_IMX286DUAL_LITEON=/product/etc/camera/mmi7cm/faraday_imx286dual/
FRD_IMX286DUAL_SHARP=/product/etc/camera/mmi7cm/faraday_imx286dual/
FRD_IMX286LEGACYDUAL=/product/etc/camera/mmi7cm/faraday_imx286dual/
EDISON_IMX278_SUNNY=/product/etc/camera/mmi7cm/imx278/sunny/
EDISON_IMX278_LITEON=/product/etc/camera/mmi7cm/imx278/liteon/
BTV_OV8858_FOXCONN=/product/etc/camera/mmi7cm/btv_ov8858_foxconn/
BTV_IMX219_LITEON_BACK=/product/etc/camera/mmi7cm/btv_imx219_back/liteon/
BTV_IMX219_OFILM_BACK=/product/etc/camera/mmi7cm/btv_imx219_back/ofilm/

