NEXT_IMX179_SUNNY=/product/etc/camera/smartae/imx179_front/
NEXT_IMX179_LITEON=/product/etc/camera/smartae/imx179_front/
NEXT_IMX298_LG=/product/etc/camera/smartae/imx298/
NEXT_IMX298_LITEON=/product/etc/camera/smartae/imx298/
EVA_IMX286DUAL_LITEON=/product/etc/camera/smartae/imx286/
EVA_IMX286DUAL_SHARP=/product/etc/camera/smartae/imx286/
EVA_IMX286DUAL_SUNNY=/product/etc/camera/smartae/imx286/
EVA_IMX286LEGACYDUAL=/product/etc/camera/smartae/imx286/
EVA_IMX179_SUNNY=/product/etc/camera/smartae/imx179_front/
EVA_IMX179_LITEON=/product/etc/camera/smartae/imx179_front/
EVA_OV8865_2L=/product/etc/camera/smartae/ov8865/
KNIGHT_IMX286DUAL_LITEON=/product/etc/camera/smartae/imx286/
KNIGHT_IMX286DUAL_SHARP=/product/etc/camera/smartae/imx286/
KNIGHT_IMX286DUAL_SUNNY=/product/etc/camera/smartae/imx286/
KNIGHT_IMX286LEGACYDUAL=/product/etc/camera/smartae/imx286/
KNIGHT_IMX179_SUNNY=/product/etc/camera/smartae/imx179_front/
KNIGHT_IMX179_LITEON=/product/etc/camera/smartae/imx179_front/
KNIGHT_OV8865_2L=/product/etc/camera/smartae/ov8865/
VIENNA_IMX286DUAL_LITEON=/product/etc/camera/smartae/imx286/
VIENNA_IMX286DUAL_SHARP=/product/etc/camera/smartae/imx286/
VIENNA_IMX286DUAL_SUNNY=/product/etc/camera/smartae/imx286/
VIENNA_OV8865_SAMSUNG=/product/etc/camera/smartae/ov8865/
VIENNA_OV8865_OFILM=/product/etc/camera/smartae/ov8865/
VIENNA_IMX179_FOXCONN=/product/etc/camera/smartae/imx179_front/
FRD_IMX286DUAL_LITEON=/product/etc/camera/smartae/imx286/
FRD_IMX286DUAL_SHARP=/product/etc/camera/smartae/imx286/
FRD_IMX286DUAL_SUNNY=/product/etc/camera/smartae/imx286/
FRD_IMX286LEGACYDUAL=/product/etc/camera/smartae/imx286/
FRD_IMX179_SUNNY=/product/etc/camera/smartae/imx179_front/
FRD_IMX179_LITEON=/product/etc/camera/smartae/imx179_front/
FRD_OV8865_2L=/product/etc/camera/smartae/ov8865/
EDISON_IMX278_SUNNY=/product/etc/camera/smartae/imx278/
EDISON_IMX278_LITEON=/product/etc/camera/smartae/imx278/
EDISON_OV8856_SUNNY=/product/etc/camera/smartae/ov8856/
EDISON_IMX219_LITEON=/product/etc/camera/smartae/imx219/
EDISON_IMX219_SUNNY=/product/etc/camera/smartae/imx219/
EDISON_HI843_OFLIM=/product/etc/camera/smartae/hi843/
BTV_IMX219_LITEON=/product/etc/camera/smartae/imx219/
BTV_IMX219_SUNNY=/product/etc/camera/smartae/imx219/
BTV_HI843_OFLIM=/product/etc/camera/smartae/hi843/
BTV_OV8858_FOXCONN=/product/etc/camera/smartae/ov8858/
BTV_IMX219_LITEON_BACK=/product/etc/camera/smartae/imx219_back/
BTV_IMX219_OFILM_BACK=/product/etc/camera/smartae/imx219_back/
NATASHA_IMX286DUAL_LITEON=/product/etc/camera/smartae/imx286/
NATASHA_IMX286DUAL_SHARP=/product/etc/camera/smartae/imx286/
NATASHA_IMX286DUAL_SUNNY=/product/etc/camera/smartae/imx286/
NATASHA_HI843_OFLIM=/product/etc/camera/smartae/hi843/
NATASHA_IMX219_LITEON=/product/etc/camera/smartae/imx219/
NATASHA_IMX219_SUNNY=/product/etc/camera/smartae/imx219/
